body {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

svg {
    width: 100%;
    max-width: 520px;
    height: auto;
    max-height: 520px;
    margin: 0 auto;
}

#alarmList {
    max-height: 420px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.alarm-settings {
    /* 新增样式，用于设置控件的布局 */
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd; /* 分隔线 */
}

div#digit {
    margin-top: 10px;
}

.second_hand,
#hour_hand,
#minute_hand {
    --degree: 0deg;
    transform-origin: 260px 260px;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .5s;
    transform: rotate(var(--degree));
}

div#widget p {
    position: relative;
}

.myBtn {
    width: 80%;
    margin-top: 20px;
}

.myBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clockStopped {
    cursor: default;
}

.clockNotStopped {
    cursor: not-allowed;
}

.list-group-item-action {
    border-left: none;
    border-right: none;
    padding: 15px;
    background-color: #f9f9f9;
}

.list-group-item-action.active {
    color: #fff;
    background-color: #28a745; /* 成功状态的绿色 */
}

.close {
    color: #aaa;
    font-size: 1.5em;
    cursor: pointer;
    float: right;
}

.close:hover {
    color: #666;
}

/* 模态对话框样式 */
.dialog-component {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位，相对于浏览器窗口 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* max-width: 400px; */
    /* text-align: center; */
    z-index: 1000; /* 确保模态框在页面其他元素之上 */
}

.dialog-component.show {
    display: block;
    animation: fadeIn 0.5s;
}
  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
.dialog-main {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background: #fff;
    width: 100%;
    max-width: 400px; /* 最大宽度 */
    z-index: 1001; /* 确保内容在背景之上 */
}
  
.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    color: #666;
}
  
.dialog-title {
    font-size: 1.5em;
}
  
.dialog-container {
    min-height: 30px; /* 确保有足够的空间显示内容 */
    margin-top: 1em;
    font-size: 1em;
    color: #333;
}
  
.dialog-footer {
    text-align: right;
    margin-top: 20px;
}
  
/* 响应式调整 */
@media (max-width: 576px) {
    .dialog-main {
      width: 90%;
    }
}

.alarmContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alarmItemBtn {
    margin-left: 20px;
}

/* 秒表样式 */
.list-group#stopWatchList {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.list-group#stopWatchList li {
    list-style-type: none;
    padding: 0;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.list-group::-webkit-scrollbar {
    width: 8px;
}
.list-group::-webkit-scrollbar-track {
    background: #e0e0e0; 
    border-radius: 5px;
}
.list-group::-webkit-scrollbar-thumb {
    background: #a0a0a0; 
    border-radius: 5px;
}
.list-group::-webkit-scrollbar-thumb:hover {
    background: #808080; 
}




