body {
    width: 100%;
    height: 100%;
    position: relative;
}

main {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

input {
    font-size: 40px;
    width: 50px;
    height: 50px;

}

svg {
    width: 520px;
    height: 600px;
    margin: 0 auto;
}

div#digit {
    margin-top: 10px;
}

.second_hand,
#hour_hand,
#minute_hand {
    --degree: 0deg;
    transform-origin: 260px 260px;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .5s;
    transform: rotate(var(--degree));
}

/* .second_hand{
    transition-duration: 0s 60s;
}

#hour_hand{
    transition-duration: 0s 3600s;
}

#minute_hand{
    transition-duration: 0s 43200s;
} */


/* .second_hand,
#hour_hand,
#minute_hand {
    animation: rotateHand linear infinite;
    
    transform-origin: 260px 260px;
}

.second_hand {
    animation-duration: 60s;
}

#hour_hand {
    animation-duration: 43200s;
}

#minute_hand {
    animation-duration: 3600s;
}

@keyframes rotateHand {
    to {
        transform: rotate(1turn);
    }
} */